<mat-card class="box" class="p-20">
    <table mat-table [dataSource]="vehicles" class="example-full-width">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef fontStyle> ID </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.id}} </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef fontStyle> Modelo </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.modelo}} </td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef fontStyle> Marca </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.marca}} </td>
        </ng-container>

        <ng-container matColumnDef="km">
            <th mat-header-cell *matHeaderCellDef fontStyle> KM </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.km}} </td>
        </ng-container>

        <ng-container matColumnDef="tanque">
            <th mat-header-cell *matHeaderCellDef fontStyle> Tanque </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.capacidadeTanque}} </td>
        </ng-container>

        <ng-container matColumnDef="ano">
            <th mat-header-cell *matHeaderCellDef fontStyle> Ano </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.ano}} </td>
        </ng-container>

        <ng-container matColumnDef="placa">
            <th mat-header-cell *matHeaderCellDef fontStyle> Placa </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.placa}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef fontStyle> Usuário </th>
            <td mat-cell *matCellDef="let vehicle"> {{vehicle.usuario.name}} </td>
        </ng-container>

        <ng-container matColumnDef="cor">
            <th mat-header-cell *matHeaderCellDef fontStyle> Cor </th>
            <td mat-cell *matCellDef="let vehicle">
                <mat-icon corStyle cor="{{vehicle.cor}}">directions_car</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="acao">
            <th mat-header-cell *matHeaderCellDef fontStyle> Ação </th>
            <td mat-cell *matCellDef="let vehicle">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="excluir(vehicle.id)"><mat-icon>delete_forever</mat-icon> Excluir</button>
                    <button mat-menu-item (click)="abastecer(vehicle.id)"><mat-icon>local_gas_station</mat-icon> Abastercer</button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>
</mat-card>