<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Meu Combustível</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        {{user.name}} <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>power_settings_new</mat-icon> Logout
        </button>
    </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>

    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
                <mat-icon mat-list-icon>home</mat-icon>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
                    expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                <a mat-list-item href="#" [routerLink]="['/home']" routerLinkActive="router-link-active">Dashboard</a>
                <a mat-list-item href="#" [routerLink]="['/vehicle']" routerLinkActive="router-link-active">Veiculo</a>
                <a mat-list-item href="#" [routerLink]="['/suply']" routerLinkActive="router-link-active">Abastecimento</a>
            </div>
        </mat-nav-list>
        <mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>

    <div fxLayout="column" fxLayoutAlign="start center" class="container-wrapper p-20">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>